body {
    font-family: arial;
}

div {
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.foto {
    width: 150px;
    margin-bottom: 0px;
}

.name {
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: bold;
    margin-left: 5px;
}

.friends {
    margin-top: 0;
    color: gray;
    font-size: 13px;
    margin-left: 5px;
}

.add-button {
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: rgb(0, 119, 255);
    border: none;
    color: white;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bo;
}

.add-button:hover {
    cursor: pointer;
}

.add-button:active {
    opacity: 0.8;
}