body {
    font-family: arial;
}

.first-name,
.last-name {
    width: 120px;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-style: solid;
    outline: none;
}

.email {
    display: block;
    margin-top: 5px;
    width: 248px;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-style: solid;
    outline: none;
}

.sign-up {
    margin-top: 5px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: rgba(29, 127, 255, 0.856);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 106px;
    padding-right: 106px;
    border-radius: 8px;
}

.sign-up:hover {
    cursor: pointer;
}

.sign-up:active {
    opacity: 0.9;
}