.thumbnail {
    width: 100%;
}



.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-link{
    text-decoration: none; 
    color: black;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}
.channel-picture:hover .profile-picture-tooltip{
    opacity: 1;
}
.profile-picture-tooltip{
    display: flex;
    flex-direction: row;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    bottom: -75px;
    border-radius: 5px;
    width: 230px;
    align-items: center;
    background-color: white;
    opacity: 0;
    transition: opacity 0.15s;

    pointer-events: none;
}


.user-picture{
    width: 50px;
    border-radius: 54px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 7px;
}
.name-and-suscribers{
    width: 200px;
}
.name-channel{
    font-weight: bold;
}
.number-of-subscribers{
    color: rgb(96, 96, 96);
    margin-top: 2px;
}
.channel-picture{
    position: relative;
    height: 36px;
    width: 36px;
    
}
.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-author-link{
    text-decoration: none; 
    color: rgb(96, 96, 96);
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 55px;
}
.video-time{
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}